<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link th:href="@{/css/edit.css}" rel="stylesheet">
 <title>ユーザー編集・削除</title>
</head>
<body>
  
  <div th:if="${validationError}" th:each="error : ${validationError}">
          <label class="text-danger" th:text="${error}"></label>
        <a href="#">↩戻る</a>
    </div>
    <div class="container">
        <header>
           <div class="row">
                    <h1>ユーザー編集・削除</h1>
            </div>
        </header>
    </div>
    
    <div class="container">
   <form th:action="@{/user/update}" th:object="${userUpdateRequest}" th:method="post" class="row">


            <div class="id">
                <div class="form-group">
                    <label for="name"><span class="label label-danger">必須</span> User ID</label>
                    <input type="text"  th:field="*{id}" id="id" name="id" class="form-control">

</div>
</div>
            <div class="name">
                <div class="form-group">
                    <label for="name"><span class="label label-danger"></span> 名前</label>
                    <input type="text" th:field="*{name}" id="name" name="name" class="form-control">
                </div>
</div>
                 <div class="furigana">
                    <div class="form-group">
                        <label for="name"><span class="label label-danger"></span> フリガナ</label>
                        <input type="text" th:field="*{furigana}" id="furigana" name="furigana" class="form-control">
                    </div>


                <div class="address">     
                        <label for="name"><span class="label label-danger"></span> 住所</label>
                        <input type="text" th:field="*{address}"  id="address" name="address" class="form-control" placeholder="例：東京都中央区" required>
                    </div>
                </div>

                    
                    <div class="button002">
      <input type="submit" value="更新" class="btn btn-primary">
      
                    </div>

                
            </div>
        </form>
        <input type="submit" th:href="@{/user/{id}/delete}" class="btn btn-secondary" value="削除">
    </div>



    <div class="container">
        <footer>
        </footer>
    </div>
</body>
</html>