<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" th:href="@{/css/add.css}">
   <title>メンバーリスト</title>
  </head>

<body>
    <div class="container">

        <h1>新規登録</h1>
        <form th:action="@{/member/create}" th:object="${memberRequest}" th:method="post">

           <div class="form-group">
    <label>名前<span class="text-danger"></span></label><br/>
    <input type="text" th:field="*{name}" id="name" name="name">
    <div>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
</div>
           <div class="form-group">
    <label>年齢<span class="text-danger"></span></label><br />
    <select th:field="*{age}" id="age" name="age" class="form-control">
        <option th:each="i : ${#numbers.sequence(0, 100)}" th:value="${i}" th:text="${i}"></option>
    </select>
</div>
            <div class="form-group">
                <label>日付<span class="text-danger"></span></label><br />
                <input type="date" th:field="*{date}" id="date" name="date" class="form-control">
            </div>
            <div class="bottom">
                <select th:field="*{genderId}" class="form-control">
                    <option value="1">男性</option>
                    <option value="2">女性</option>
                    <option value="3">その他</option>
                </select>
            </div>
            <div class="bottom">
                <select th:field="*{bloodTypeId}" class="form-control">
                    <option value="1">A型</option>
                    <option value="2">B型</option>
                    <option value="3">O型</option>
                    <option value="4">AB型</option>
                </select>
            </div>
            <div class="button002">
                <button type="submit">登録</button>
            </div>
        </form>
    </div>
    <div class="container">
        <footer>
        </footer>
    </div>
</body>

</html>
